.questionContainer__question {
  border: 1px solid lightgray;
  border-radius: 0.4rem;
  padding: 1rem 1rem;
}

.questionContainer__btnCollapseToggle {
  cursor: pointer;
}

.questionContainer__questionHeading {
  display: flex;
  column-gap: 1rem;
}

.questionContainer__displayNone {
  display: none;
}

.questionContainer__content hr {
  border-top: 1px solid lightgray;
}
