.option input {
  border: 2px solid lightgray;
  height: 2rem;
  border-radius: 5px;
  padding: 0.1rem 0.5rem;
  background-color: white;
}

.option {
  display: flex;
  column-gap: 10px;
}

.option__actions {
  display: grid;
  grid-template-columns: 30px 30px 30px;
  grid-template-rows: 30px;
  column-gap: 0.5rem;
}

.option__btnMoveDown {
  grid-column: 1;
  grid-row: 1;
}

.option__btnMoveUp {
  grid-column: 2;
  grid-row: 1;
}
.option__btnRemove {
  grid-column: 3;
  grid-row: 1;
}
