.formFill {
  display: flex;
  flex-direction: column;
  background: lightskyblue;
  margin: 2rem 5rem;
  padding: 1rem;
  row-gap: 1rem;
}

.formFill__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.formFill__title {
  padding: 1rem;
}

.formFill__submitForm {
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  border: 1px solid lightseagreen;
  background: lightseagreen;
  color: yellow;
  font-weight: bold;
  cursor: pointer;
}

.formFill__submitForm:hover {
  filter: brightness(0.8);
}

.formFill__name {
  padding: 1rem;
  font-size: 1.5rem;
}

.formFill_loading {
  align-items: center;
  row-gap: 1rem;
}

.formFill_loadingIcon {
  font-size: 2.5rem;
}

.formFill__submitted {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.formFill__submittedHeading {
  font-size: 3rem;
  font-weight: bold;
  color: green;
}

.formFill__submittedContent {
  padding: 2rem;
  background: yellow;
  border-radius: 0.5rem;
  width: 50%;
  display: flex;
  justify-content: center;
}
