.formFill {
  display: flex;
  flex-direction: column;
  background: lightskyblue;
  margin: 2rem 5rem;
  padding: 1rem;
  row-gap: 1rem;
}

.formFill__title {
  padding: 1rem;
}

.formFill__name {
  padding: 1rem;
  font-size: 1.5rem;
}

.formFill_loading {
  align-items: center;
  row-gap: 1rem;
}

.formFill_loadingIcon {
  font-size: 2.5rem;
}
