.formBuilder__title {
  color: red;
  font-size: 1.5rem;
  border: 2px solid orange;
  padding: 10px;
}

.formBuilder__content {
  display: flex;
  background-color: #e0e4f4;
}

.formBuilder__actions {
  display: flex;
  flex-direction: column;
  padding: 10px;
  row-gap: 5px;
  width: 20%;
}

.formBuilder__quesRow {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  justify-content: space-between;
}

.formBuilder__btnRemove {
  padding: 0.5rem 1rem;
  font-size: 2rem;
  background-color: rgb(223, 209, 209);
  color: gray;
  height: fit-content;
  border: none;
}
.formBuilder__btnRemove:hover {
  opacity: 80%;
}

.formBuilder__actions button {
  background: #e68a19;
  background-image: -webkit-linear-gradient(top, #e68a19, #db550d);
  background-image: -moz-linear-gradient(top, #e68a19, #db550d);
  background-image: -ms-linear-gradient(top, #e68a19, #db550d);
  background-image: -o-linear-gradient(top, #e68a19, #db550d);
  background-image: linear-gradient(to bottom, #e68a19, #db550d);
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  outline: none;
  border: none;
}

.formBuilder__actions button:hover {
  background: #f50000;
  background-image: -webkit-linear-gradient(top, #f50000, #f05d5d);
  background-image: -moz-linear-gradient(top, #f50000, #f05d5d);
  background-image: -ms-linear-gradient(top, #f50000, #f05d5d);
  background-image: -o-linear-gradient(top, #f50000, #f05d5d);
  background-image: linear-gradient(to bottom, #f50000, #f05d5d);
  text-decoration: none;
}

.formBuilder__list {
  width: 60%;
}

.formBuilder__listTitle {
  background-color: yellow;
  margin-top: 10px;
}

.formBuilder__listItems {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
