.comprehensionFillElement {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  background: white;
  padding: 1rem 1rem;
  row-gap: 1.2rem;
  border-radius: 0.4rem;
}

.comprehensionFillElement__text {
  white-space: pre-wrap;
}
