.clozeElement__headingLine {
  display: flex;
  justify-content: space-between;
}

.clozeElement__heading {
  color: gray;
  font-size: 1.2rem;
}

.clozeElement__line {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.clozeElement__line__image {
  padding: 0 1rem;
}

.clozeElement__label {
  margin: 0 1rem;
}

.clozeElement__preview,
.clozeElement__input,
.clozeElement__imagePicker::file-selector-button {
  border: 2px solid lightgray;
  height: 2rem;
  border-radius: 5px;
  padding: 0.1rem 0.5rem;
  background-color: white;
}

.clozeElement__preview {
  height: fit-content;
  min-height: 2rem;
}

.clozeElement__options {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  width: fit-content;
}

.clozeElement_underline {
  text-decoration: underline;
  font-weight: bold;
}

.clozeElement__option input {
  border: 2px solid lightgray;
  height: 2rem;
  border-radius: 5px;
  padding: 0.1rem 0.5rem;
  background-color: white;
}

.clozeElement__option {
  display: flex;
  column-gap: 10px;
  align-items: center;
}
