.clozeElement {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  row-gap: 10px;
}

.clozeElement__line {
  display: flex;
  flex-direction: column;
}

.clozeElement__btnUnderline {
  width: fit-content;
}

.clozeElement__option {
  display: flex;
  column-gap: 10px;
}

.clozeElement_underline {
  text-decoration: underline;
  font-weight: bold;
}
