.comprehensionElement {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  row-gap: 10px;
  flex: 1;
}

.comprehensionElement__topLine {
  display: flex;
  justify-content: space-between;
}

.comprehensionElement__text textarea {
  width: 100%;
}
